@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .root {
    @apply w-full max-w-[1920px] min-h-screen mx-auto px-0
  }

  .flexCenter {
    @apply flex items-center justify-center
  }

  .flexBetween {
    @apply flex items-center justify-between
  }

  .sidebar {
    @apply sticky top-0 left-0 max-md:hidden h-screen flex-col gap-10 overflow-auto py-6 min-w-[18rem]
  }

  .search-bar {
    @apply flex-1 bg-transparent focus:outline-none text-textColor-100 font-semibold
  }

  .btn {
    @apply rounded-lg  py-2 px-4 text-white bg-gradient-to-r from-primary-100 to-secondary-100
  }
  .input-field {
    @apply w-full lg:text-xl mt-4 bg-slate-950 p-6 text-textColor-100 rounded-xl focus:bg-slate-900 focus:outline-none
  }
  .label-field {
    @apply text-textColor-100 text-3xl font-bold
  }
}


/*CLERK FORM*/
.cl-headerTitle {
  @apply text-center text-2xl text-secondary-100
}

.cl-headerSubtitle {
  @apply text-center text-lg
}

.cl-socialButtonsBlockButton {
  @apply hover:border-secondary-100 duration-500
}
.cl-socialButtonsProviderIcon  {
  @apply scale-150
}
.cl-socialButtonsBlockButtonText {
  @apply text-lg
}

.cl-dividerText {
  @apply uppercase text-lg text-secondary-100
}

.cl-formButtonPrimary {
  @apply bg-primary-100 hover:bg-secondary-100 duration-500 text-lg
}

.cl-footerActionText, .cl-footerActionLink {
  @apply text-lg
}

.cl-footerActionLink {
  @apply text-secondary-100 hover:text-primary-100 duration-500 hover:no-underline
}

/*MANAGEMENT FORM*/
.cl-userPreviewMainIdentifier {
  @apply text-xl text-secondary-100 font-bold
}
.cl-userPreviewSecondaryIdentifier{
  @apply text-lg font-semibold
}
.cl-userButtonPopoverActionButtonText {
  @apply text-base
}
.cl-userButtonPopoverActionButtonIconBox {
  @apply scale-150
}
